body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    position: relative;
}


img {
    position: absolute;
    max-width: 1000px;
}

#dropImageBtn {
    text-align: center;
    background-size: 100px 50px;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 100px;
    text-align: center;
    color: rgb(249, 249, 0);
    text-shadow: 5px 5px black;
    position: absolute;
}

#dropImageBtn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

#dropImageBtn:active {
    background-color: #114514;
} 

#imageContainer {
    position: relative;
    width: 80%;
    height: 80%;
    border: 0px solid #e0ee48;
    overflow: hidden;
    margin-top: 0px;
}

@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

img {
    position: absolute;
    animation: drop 1s ease-out;
    object-fit: cover; /* 確保圖片填滿剪裁區域 */
}